---
variables: &variables
  SFOS_VERSION: 3.4.0.24
  CARGO_HOME: $CI_PROJECT_DIR/cargo
  GIT_SUBMODULE_STRATEGY: recursive
  EXTRA_TARGETS: 3.4.0.24

stages:
  - docker
  - build
  - test
  - deploy

.docker:builder: &docker-builder
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  stage: docker
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - echo "Working around https://github.com/GoogleContainerTools/kaniko/issues/595"
    - rm -f .dockerignore
    - >
        if [[ "$CI_COMMIT_REF_SLUG" == "$CI_DEFAULT_BRANCH" ]]; then
          EXTRA_DESTINATION="--destination $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest"
        fi
    - >
        /kaniko/executor --context $CI_PROJECT_DIR
        --dockerfile $CI_PROJECT_DIR/$DOCKERFILE
        --build-arg SFOS_VERSION="$SFOS_VERSION"
        --build-arg SFOS_ARCH="$SFOS_ARCH"
        --build-arg GCC_TARGET="$GCC_TARGET"
        --build-arg RUST_TARGET="$RUST_TARGET"
        --build-arg EXTRA_TARGETS="$EXTRA_TARGETS"
        --build-arg VALIDATOR_VERSION="$VALIDATOR_VERSION"
        --destination $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_SLUG
        $EXTRA_DESTINATION
        --cache=true

armv7hl-3.4:
  <<: *docker-builder
  variables:
    SFOS_VERSION: 3.4.0.24
    DOCKERFILE: Dockerfile.platform
    SFOS_ARCH: armv7hl
    GCC_TARGET: arm-linux-gnueabihf
    RUST_TARGET: armv7-unknown-linux-gnueabihf
    IMAGE_NAME: "platform-$SFOS_ARCH-$SFOS_VERSION"

aarch64-3.4:
  <<: *docker-builder
  variables:
    SFOS_VERSION: 3.4.0.24
    DOCKERFILE: Dockerfile.platform
    SFOS_ARCH: aarch64
    GCC_TARGET: aarch64-linux-gnu
    RUST_TARGET: aarch64-unknown-linux-gnu
    IMAGE_NAME: "platform-$SFOS_ARCH-$SFOS_VERSION"

i486-3.4:
  <<: *docker-builder
  variables:
    SFOS_VERSION: 3.4.0.24
    DOCKERFILE: Dockerfile.platform
    SFOS_ARCH: i486
    GCC_TARGET: i686-linux-gnu
    RUST_TARGET: i686-unknown-linux-gnu
    IMAGE_NAME: "platform-$SFOS_ARCH-$SFOS_VERSION"

armv7hl-4.4:
  <<: *docker-builder
  variables:
    SFOS_VERSION: 4.4.0.58
    DOCKERFILE: Dockerfile.platform
    SFOS_ARCH: armv7hl
    GCC_TARGET: arm-linux-gnueabihf
    RUST_TARGET: armv7-unknown-linux-gnueabihf
    IMAGE_NAME: "platform-$SFOS_ARCH-$SFOS_VERSION"

aarch64-4.4:
  <<: *docker-builder
  variables:
    SFOS_VERSION: 4.4.0.58
    DOCKERFILE: Dockerfile.platform
    SFOS_ARCH: aarch64
    GCC_TARGET: aarch64-linux-gnu
    RUST_TARGET: aarch64-unknown-linux-gnu
    IMAGE_NAME: "platform-$SFOS_ARCH-$SFOS_VERSION"

i486-4.4:
  <<: *docker-builder
  variables:
    SFOS_VERSION: 4.4.0.58
    DOCKERFILE: Dockerfile.platform
    SFOS_ARCH: i486
    GCC_TARGET: i686-linux-gnu
    RUST_TARGET: i686-unknown-linux-gnu
    IMAGE_NAME: "platform-$SFOS_ARCH-$SFOS_VERSION"

armv7hl-rust-4.4:
  <<: *docker-builder
  variables:
    SFOS_VERSION: 4.4.0.58
    DOCKERFILE: Dockerfile.rust
    SFOS_ARCH: armv7hl
    GCC_TARGET: arm-linux-gnueabihf
    RUST_TARGET: armv7-unknown-linux-gnueabihf
    IMAGE_NAME: "rust-$SFOS_ARCH-$SFOS_VERSION"

aarch64-rust-4.4:
  <<: *docker-builder
  variables:
    SFOS_VERSION: 4.4.0.58
    DOCKERFILE: Dockerfile.rust
    SFOS_ARCH: aarch64
    GCC_TARGET: aarch64-linux-gnu
    RUST_TARGET: aarch64-unknown-linux-gnu
    IMAGE_NAME: "rust-$SFOS_ARCH-$SFOS_VERSION"

i486-rust-4.4:
  <<: *docker-builder
  variables:
    SFOS_VERSION: 4.4.0.58
    ## We don't build 3.4 for i486, because
    #  in that case, rust 1.52 gets installed without the sb2 passthrough,
    #  and the 3.4 runtime doesn't provide all necessary dependencies.
    #  If this bothers someone (I don't think there's any i486 device that doesn't support 4.3;
    #  check conversation at https://matrix.to/#/!clfpfblSRQUbEUGwsD:rubdos.be/$QANC2ZqJuGElnp2Bkvll_4KLmmSmZUqPgthzzT1KRT0?via=libera.chat&via=matrix.org&via=rubdos.be)
    EXTRA_TARGETS: ""
    DOCKERFILE: Dockerfile.rust
    SFOS_ARCH: i486
    GCC_TARGET: i686-linux-gnu
    RUST_TARGET: i686-unknown-linux-gnu
    IMAGE_NAME: "rust-$SFOS_ARCH-$SFOS_VERSION"

rpm-validator-1.65:
  <<: *docker-builder
  variables:
    DOCKERFILE: Dockerfile.rpm-validator
    VALIDATOR_VERSION: "1.65"
    IMAGE_NAME: rpm-validator
